@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
}
html, body {
    background-color: darkgray;
    min-height: 100vh;

}
header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    
}
header > p {
    padding-bottom: 50px;
}
header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;

}
 header a:hover, footer a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal { 
    background-color: white;
    color: black;

}
section.imagem {
    background-color: rgba(7, 26, 26, 0.945);
    color: burlywood;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.400);
    width: 400px;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    
}
